@media only screen and (max-width: 600px){
    #banner{
        display: none;
    }
}

#banner{
    margin-top: 5px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 6px 5px black;
}
#login-form{
    text-align: center;
    border: 2px solid goldenrod;
    padding: 50px;
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.my-btn{
    border: 2px solid goldenrod;
    background-color: white;
    color: black;
    margin-top: 20px;
}
#id_username, #id_password{
    width: 200px;
    margin: auto;
}