{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'post/post_details.css' %}">
{% endblock style %}


{% block title %}
Post Details
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row post-details">
        <h2>{{ post.title }}</h2>
        <h6>{{ post.created }}</h6>
        <img class="post-details-main-picture" src="" alt="">
        <img class="post-details-picture" src="{{ post.main_picture.url }}" alt="">
        <img class="post-details-picture" src="{{ post.picture_1.url }}" alt="">
        <img class="post-details-picture" src="{{ post.picture_2.url }}" alt="">
        <img class="post-details-picture" src="{{ post.picture_3.url }}" alt="">
        <img class="post-details-picture" src="{{ post.picture_4.url }}" alt="">
        <img class="post-details-picture" src="{{ post.picture_5.url }}" alt="">
        <div id="post-details-slides">
            <button class="previous-slide-btn" onclick="previous()">&lt</button>
            <button class="next-slide-btn" onclick="next()">&gt</button>
        </div>
        <span id="slide-counter"></span>
        <h4>Property Details</h4>
        <hr>
        <div id="left-side-property-details">
            <h6>Price: <span id="property-price">{{ post.price }}$</span></h6>
            <h6>Offer: {{ post.offer_type }}</h6>
            <h6>Property: {{ post.property_type }}</h6>

            {% if post.construction_type is not None %}
                <h6>Construction: {{ post.construction_type }}</h6>
            {% endif %}

            <h6>Location: {{ post.location }}</h6>

            {% if post.neighborhood != '' %}
                <h6>Neighborhood: {{ post.neighborhood }}</h6>
            {% endif %}

            <h6>Square meters: {{ post.square_meters }}</h6>
        </div>
        <div id="rigth-side-property-details">
            {% if post.number_of_rooms is not None %}
                <h6>Rooms: {{ post.number_of_rooms }}</h6>
            {% endif %}

            {% if post.bathroom is not None %}
                <h6>Bathroom: {{ post.bathroom }}</h6>
            {% endif %}

            {% if post.bedroom is not None %}
                <h6>Bedroom: {{ post.bedroom }}</h6>
            {% endif %}

            {% if post.balcony is not None %}
                <h6>Balcony: {{ post.balcony }}</h6>
            {% endif %}

            {% if post.floor is not None %}
                <h6>Floor: {{ post.floor }}</h6>
            {% endif %}

            {% if post.floors is not None %}
                <h6>Floors: {{ post.floors }}</h6>
            {% endif %}

            {% if post.parking is not None %}
                <h6>Parking: {{ post.parking }}</h6>
            {% endif %}
            
            {% if post.garage is not None %}
                <h6>Garage: {{ post.garage }}</h6>
            {% endif %}
            
            {% if post.basement is not None %}
                <h6>Basement: {{ post.basement }}</h6>
            {% endif %}

            {% if post.garret is not None %}
                <h6>Garret: {{ post.garret }}</h6>
            {% endif %}

            {% if post.heating is not None %}
                <h6>Heating: {{ post.heating }}</h6>
            {% endif %}
        </div>
        <br>
        <br>
        <h4>More Information</h4>
        <hr>
        <h6>{{ post.more_information }}</h6>
        <br>
        <br>
        <h4>For Contact</h4>
        <hr>
        <h6>{{ post.for_contact }}</h6>
    </div>
</div>

{% endblock content %}


{% block js %}
    <script src="{% static 'post/post_details.js' %}"></script>
{% endblock js %}