@media only screen and (max-width: 600px){
    .post-details-picture{
        display: none;
    }
    .post-details-main-picture{
        height: 250px;
    }
    .previous-slide-btn, .next-slide-btn{
        width: 40px;
        height: 50px;
        margin-top: 50%;
    }
    #more-information-field{
        width: 290px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 599px){
    .previous-slide-btn, .next-slide-btn{
        width: 40px;
        height: 50px;
        margin-top: 40%;
    }
    #more-information-field{
        width: 350px;
    }
}
@media only screen and (min-width: 600px){
    .previous-slide-btn, .next-slide-btn{
        width: 60px;
        height: 60px;
        margin-top: 40%;
    }
}
@media only screen and (min-width: 768px){
    .post-details-picture{
        display: none;
    }
    .post-details-main-picture{
        height: 550px;
    }
    #left-side-property-details{
        width: 50%;
    }
    #rigth-side-property-details{
        width: 50%;
    }
    #more-information-field{
        width: 690px;
    }
}
@media only screen and (min-width: 922px){
    .post-details-main-picture{
        height: 750px;
    }
    #more-information-field{
        width: 930px;
    }
}
@media only screen and (min-width: 1200px){
    .post-details-main-picture{
        height: 850px;
    }
    #more-information-field{
        width: 1290px;
    }
}

.post-details{
    position: relative;
    border: 2px solid goldenrod;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    z-index: 0;
}
.post-details-main-picture{
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding-left: 0%;
    padding-right: 0%;
}
hr{
    color: goldenrod;
}
#property-price{
    font-size: x-large;
    color: goldenrod;
    font-weight: bold;
}
.previous-slide-btn, .next-slide-btn{
    border: none;
    opacity: 0.7;
    background-color: goldenrod;
    font-weight: bolder;
}
#post-details-slides{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0%;
}
#slide-counter{
    text-align: center;
    border: none;
    opacity: 0.7;
    background-color: goldenrod;
    margin-bottom: 10px;
}