/* Cool font */

body{
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: #E9E9E9;
    background: -moz-linear-gradient(left, #E9E9E9 0%, #FFFFFF 50%, #E9E9E9 100%);
    background: -webkit-linear-gradient(left, #E9E9E9 0%, #FFFFFF 50%, #E9E9E9 100%);
    background: linear-gradient(to right, #E9E9E9 0%, #FFFFFF 50%, #E9E9E9 100%);
}

@media only screen and (max-width: 600px){
    #navbar-menu{
        width: 12%;
    }
    #navbar-search{
        width: 12%;
    }
    #navbar-logo{
        width: 76%;
    }
    #navbar-links{
        display: none;
    }
}
@media only screen and (min-width: 600px){
    #navbar-menu{
        width: 6%;
    }
    #navbar-search{
        width: 6%;
    }
    #navbar-logo{
        width: 88%;
    }
    #navbar-links{
        display: none;
    }
}
@media only screen and (min-width: 768px){
}
@media only screen and (min-width: 922px){
    #navbar-menu{
        display: none;
    }
    #navbar-search{
        display: none;
    }
    #navbar-logo{
        width: 20%;
    }
    #navbar-links{
        display: flex;
        justify-content: end;
        width: 80%;
    }
}
@media only screen and (min-width: 1200px){
    #navbar-menu{
        display: none;
    }
    #navbar-search{
        display: none;
    }
    #navbar-logo{
        width: 24%;
    }
    #navbar-links{
        display: flex;
        justify-content: end;
        width: 60%;
    }
}

/* Navbar components */
#navbar{
    background: #DAA520;
    background: -moz-linear-gradient(-45deg, #DAA520 0%, #FFF8BE 50%, #DAA520 100%);
    background: -webkit-linear-gradient(-45deg, #DAA520 0%, #FFF8BE 50%, #DAA520 100%);
    background: linear-gradient(135deg, #DAA520 0%, #FFF8BE 50%, #DAA520 100%);
    box-shadow: 0px 0px 6px 5px black;
    position: relative;
}
#navbar-menu{
    margin-top: 7px;
    text-align: start;
}
#navbar-search{
    margin-top: 7px;
    text-align: start;
}
#navbar-logo{
    margin-top: 12px;
    color: black;
    text-align: end;
    white-space: nowrap;
}
#navbar-links{
    margin-top: 10px;
    text-align: end;
    white-space: nowrap;
}
#navbar-menu-dropdown{
    width: 450px;
    position: absolute;
    z-index: 1;
    background: #DAA520;
    background: -moz-linear-gradient(45deg, #DAA520 0%, #FFF8BE 100%, #DAA520 100%);
    background: -webkit-linear-gradient(45deg, #DAA520 0%, #FFF8BE 100%, #DAA520 100%);
    background: linear-gradient(45deg, #DAA520 0%, #FFF8BE 100%, #DAA520 100%);
}
#navbar-logo a{
    text-decoration: none;
    color: black;
}

/* Custom anchor tag */
.cat, .nav-link, .dropdown-link{
    text-decoration: none;
    color: black;
    font-size: large;
}
.cat:hover, .nav-link:hover{
    color: black;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
ul{
    list-style-type: none;
}
#redirect-to-details{
    text-decoration: none;
    color: black;
    cursor:grab;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination-btn{
    border: none;
    text-decoration: none;
    color: #000000;
    border: 3px solid goldenrod;
    padding: 10px;
}
.pagination-current{
    border: 3px solid goldenrod;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.pagination-btn:hover{
    color: #000000;
    background: -moz-linear-gradient(45deg, #DAA520 0%, #FFF8BE 100%, #DAA520 100%);
    background: -webkit-linear-gradient(45deg, #DAA520 0%, #FFF8BE 100%, #DAA520 100%);
    background: linear-gradient(45deg, #DAA520 0%, #FFF8BE 100%, #DAA520 100%);
}