{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'baseapp/baseapp.css' %}">
    <link rel="stylesheet" href="{% static 'post/post_style.css' %}">
{% endblock style %}


{% block title %}
Home
{% endblock title %}


{% block content %}

<img id="banner" src="{% static 'images/real_estate_banner.jpg' %}" alt="">
<div class="container-fluid">
    <div class="row" id="post-wall">
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}
        {% include 'post/post.html' %}

    </div>
</div>

{% endblock content %}


{% block js %}{% endblock js %}