{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'baseapp/baseapp.css' %}">
    <link rel="stylesheet" href="{% static 'post/post_style.css' %}">
{% endblock style %}


{% block title %}
Home
{% endblock title %}


{% block content %}

<img id="banner" src="{% static 'images/real_estate_banner.jpg' %}" alt="">
<div class="container-fluid">

    <div class="search hidden">
        <form id="search-form" action="{% url 'search' %}">
            {% csrf_token %}
            {{ search_form }}
            <button id="search-btn" type="submit">Search</button>
        </form>
    </div>

    <div class="row" id="post-wall">
        {% for post in page_obj.object_list %}
            {% include 'post/post.html' %}
        {% endfor %}
    </div>

    <div class="pagination">
        <span>
            {% if page_obj.has_previous %}
                <a class="pagination-btn" href="?page=1">&laquo; first</a>
                <a class="pagination-btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="pagination-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a class="pagination-btn" href="?page={{ page_obj.next_page_number }}">next</a>
                <a class="pagination-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock content %}


{% block js %}{% endblock js %}